@charset "UTF-8";
/*colores*/
/*fuentes*/
/*padding*/
/*reseteo*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

/*general*/
a {
  text-decoration: none;
}

body {
  background-color: #edf2f4;
}

.botonNavBoot {
  margin-right: 3rem;
}

.container-fluid {
  padding: 0px;
}

/*titulos paginas*/
.titulos__paginas, .textoAlarmas__titulos, .textoCamaras__titulo {
  color: #2b2d42;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

.titulos__paginas .h1Html, .textoAlarmas__titulos .h1Html, .textoCamaras__titulo .h1Html {
  font-size: 6rem;
}

/*padding bootstrap*/
div.row {
  margin: 0px;
  padding: 0px;
}

div.container-fluid {
  margin: 0px;
  padding: 0px;
}

/*animacion titulos*/
.titulos__paginas, .textoAlarmas__titulos, .textoCamaras__titulo {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

nav {
  border-bottom: solid 1rem #2b2d42;
}

.chauPadding {
  padding: 0px;
}

header {
  width: 100%;
}

/*logo*/
.contenedor__logo, .contenedor__logoFooter {
  overflow: hidden;
  margin-left: 2rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.contenedor__logo .logo, .contenedor__logoFooter .logo {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

/*nav*/
.nav__menu {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  width: 100%;
}

@media (max-width: 480px) {
  .nav__menu li {
    font-size: 1.5rem;
  }
}

.navbar-nav {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 3rem;
}

/*estetica inicio*/
li a {
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #edf2f4;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media (max-width: 480px) {
  nav a::before {
    width: 0%;
  }
}

a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contenedor__logo a::before, .contenedor__logoFooter a::before {
  width: 0%;
}

/*estetica camaras*/
.nav__menu--camaras a {
  color: #edf2f4;
  margin: 0px;
}

.nav__menu--camaras a:hover {
  color: #d90429;
}

.nav__menu--carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu--carrito a {
  color: #edf2f4;
  margin: 1rem;
}

.nav__menu--carrito a:hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.chauPadding {
  padding: 0px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #d90429;
  color: #edf2f4;
  font-family: "Oswald", sans-serif;
  border-top: solid 1rem #2b2d42;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
}

.footer__redes {
  padding: 2rem;
}

.footer__redes a {
  color: #2b2d42;
  margin: 0 2rem;
  font-size: 2.7rem;
}

.footer__redes .whatsapp:hover {
  color: #25d366;
}

.footer__redes .fa-facebook:hover {
  color: #3b5998;
}

.footer__redes .fa-instagram:hover {
  color: #8134af;
}

.footer__redes h3 {
  text-align: center;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .footer__redes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.footer__redes--whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__redes--whatsapp a {
  font-size: 3.5rem;
}

@media (max-width: 480px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contenedor__logoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor__logoFooter .logo {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}

.derechos {
  background-color: #d90429;
  color: #edf2f4;
  font-family: "Oswald", sans-serif;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*div formulario*/
.banner {
  height: 34rem;
  border-bottom: solid 1rem #2b2d42;
  background-image: url(../Imagenes/camara1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), color-stop(88%, rgba(0, 0, 0, 0.8))), url(../Imagenes/camara1.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.8) 88%), url(../Imagenes/camara1.jpg);
}

.banner__contacto {
  font-family: "Oswald", sans-serif;
  color: #edf2f4;
  text-shadow: 2px 4px 5px black;
  font-size: 2.8rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.4rem;
  height: 25rem;
  width: 35rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner__contacto button {
  width: 100px;
  height: 45px;
  font-size: 1.8rem;
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .banner__contacto a {
    margin-top: 3rem;
  }
}

/*medios de pago*/
.textoPagos {
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.textoPagos p {
  margin: 0px;
  color: #2b2d42;
}

.mediosPago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.mediosPago__img {
  width: 30%;
  padding: 1rem;
}

@media (max-width: 480px) {
  .mediosPago__img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .mediosPago__img {
    width: 100%;
  }
}

/*links a servicios*/
.servicios__texto {
  color: #000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.servicios__img {
  width: 12rem;
  height: auto;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background-color: 1s;
  border-radius: 5%;
  padding: 1.3rem;
  -webkit-transition: scale;
  transition: scale;
}

/*transicion servicios*/
.servicios__img:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

@media only screen and (max-width: 576px) {
  .banner__contacto {
    font-size: 2.3rem;
  }
  .banner__contacto button {
    width: 80px;
    height: 40px;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.formulario__contacto {
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  font-size: 1.8rem;
}

@media (max-width: 480px) {
  .formulario__contacto {
    font-size: 1.5rem;
    text-align: center;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .formulario {
  width: 70%;
}

@media (max-width: 480px) {
  form {
    font-size: 2.5rem;
  }
  form .formulario {
    width: 100%;
  }
}

.boton {
  font-size: 1.5rem;
}

.boton:hover {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.result {
  margin: 1rem;
  background-color: #d90429;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #edf2f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*foto+texto*/
.divNosotros {
  border-bottom: solid 0.3rem #2b2d42;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 480px) {
  .divNosotros {
    margin: 1rem;
  }
}

.divNosotros__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.divNosotros__img .main__imgNosotros {
  width: 85%;
  height: auto;
  border-radius: 5%;
  margin: 0px;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .divNosotros__img {
    height: 100%;
  }
}

.divNosotros .main__texto__nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divNosotros .main__texto__nosotros .main__textoNosotros {
  font-size: 2.4rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  padding: 1rem;
}

@media (max-width: 480px) {
  .divNosotros .main__texto__nosotros .main__textoNosotros {
    font-size: 2rem;
    text-align: center;
  }
}

/*contacto*/
.parrafoUbicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.row__parrafoUbicacion {
  color: #2b2d42;
  background-color: #edf2f4;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  margin: 2rem;
  padding: 0rem 5rem 5rem 5rem;
  text-align: center;
}

@media (max-width: 480px) {
  .row__parrafoUbicacion {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0 0 0;
    padding: 0rem;
  }
}

.row__parrafoUbicacion .main__mapa--mod {
  border: 2px solid #2b2d42;
  -webkit-box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  width: 70%;
}

@media (max-width: 480px) {
  .row__parrafoUbicacion .main__mapa--mod {
    width: 70%;
  }
}

.row__parrafoUbicacionContacto {
  margin-top: 5rem;
}

.row__parrafoUbicacionContacto p {
  margin: 1rem;
  color: #2b2d42;
  font-family: "Quicksand", sans-serif;
}

.row__parrafoUbicacionContacto p a {
  text-decoration: none;
  color: #2b2d42;
  text-align: center;
}

.row__parrafoUbicacionContacto p i {
  text-shadow: 0.1rem 0.1rem #d90429;
}

/*trabaja con nosotros*/
.trabajaConNosotros {
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  font-size: 1.8rem;
  margin: 3rem;
  border: solid 3px #2b2d42;
  border-style: double;
  padding: 2rem;
  background: #edf2f4;
  background: linear-gradient(176deg, #edf2f4 36%, rgba(239, 35, 60, 0.376053) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edf2f4", endColorstr="#ef233c", GradientType=1);
}

.trabajaConNosotros__estilo {
  color: #d90429;
  font-weight: bolder;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .trabajaConNosotros {
    width: 80%;
    font-size: 1.5rem;
    -webkit-animation: none;
            animation: none;
    text-align: center;
  }
}

/*texto principal*/
.main__texto__st {
  font-size: 2.3rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  padding: 3rem;
}

@media (max-width: 480px) {
  .main__texto__st {
    text-align: center;
  }
}

@media (max-width: 480px) {
  h1 {
    text-align: center;
  }
}

/*grilla*/
.grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "grid__img7 grid__img1 grid__img4" "grid__img7 grid__img3 grid__img2" "grid__img6 grid__img5 grid__img5";
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 4rem;
}

@media (max-width: 480px) {
  .grid {
        grid-template-areas: "grid__img1" "grid__img2" "grid__img3" "grid__img4" "grid__img5" "grid__img6" "grid__img7";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.grillita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: grid__img1;
  position: relative;
}

.grid__img2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: grid__img2;
  position: relative;
}

.grid__img3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: grid__img3;
  position: relative;
}

.grid__img4 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: grid__img4;
  position: relative;
}

.grid__img5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: grid__img5;
  position: relative;
}

.grid__img6 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: grid__img6;
  position: relative;
}

.grid__img7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: grid__img7;
  position: relative;
}

/*estilo imagenes*/
.grid img {
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  border-radius: 5%;
}

@media (max-width: 480px) {
  .grid img {
    height: auto;
  }
}

/*info imagenes hover*/
.grid__img--info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #edf2f4;
  background-color: #2b2d42;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}

.grid__img--info p {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
}

.grid__img--info:hover {
  opacity: 0.8;
}

/*introducción*/
.textoAlarmas {
  background-image: url(../Imagenes/fondo-alarmas.jpg);
  background-position: center;
  background-size: cover;
  padding: 10rem;
  margin-bottom: 3rem;
}

.textoAlarmas__titulos {
  color: #edf2f4;
}

.textoAlarmas h1 {
  text-shadow: black 3px 2px;
}

.textoAlarmas p {
  font-size: 2.5rem;
  text-shadow: black 2px 2px;
  font-family: "Quicksand", sans-serif;
  color: #edf2f4;
  text-align: center;
  margin: 3rem;
}

@media (max-width: 480px) {
  .textoAlarmas p {
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .textoAlarmas {
    padding: 7rem;
  }
}

/*imágenes y precios*/
/*cierre*/
.parrafoCierreAlarmas {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  color: #d90429;
  text-align: center;
  margin-top: 2rem;
  text-shadow: 0.1rem 0.1rem #8d99ae;
  padding: 1rem;
  margin: 2rem;
}

/*introducción*/
.textoCamaras {
  background-image: url(../Imagenes/fondo-alarmas.jpg);
  background-position: center;
  background-size: cover;
  padding: 8rem;
  margin-bottom: 3rem;
}

.textoCamaras__titulo {
  color: #edf2f4;
}

.textoCamaras h1 {
  text-shadow: black 3px 2px;
}

.textoCamaras p {
  font-size: 2.5rem;
  text-shadow: black 2px 2px;
  font-family: "Quicksand", sans-serif;
  color: #edf2f4;
  text-align: center;
  margin: 3rem;
}

@media (max-width: 480px) {
  .textoCamaras p {
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .textoCamaras {
    padding: 4.5rem;
  }
}

/*imagenes y precios*/
.rowCamaras {
  margin: 2rem;
}

.rowCamaras__precioTexto {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  text-transform: uppercase;
  text-align: center;
}

.rowCamaras__precio {
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
  color: #d90429;
  font-weight: bolder;
  text-shadow: 0.1rem 0.1rem #8d99ae;
}

.rowCamaras__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .rowCamaras__col {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

.bkPrice {
  display: none;
}

.camaraEstilo {
  position: relative;
  overflow: hidden;
  margin: 2rem;
  border-radius: 16%;
  width: 80%;
  -webkit-box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
  .camaraEstilo {
    width: 100%;
  }
}

.camaraEstilo img {
  width: 100%;
}

.camaraEstilo--info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #edf2f4;
  background-color: #2b2d42;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}

.camaraEstilo--info p {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
}

.camaraEstilo--info ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.camaraEstilo--info:hover {
  opacity: 0.9;
}

/*cierre*/
.row__textoCierre {
  border-bottom: solid 0.3rem #2b2d42;
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  text-align: center;
  margin: 4rem;
}

/*modal*/
@media (max-width: 480px) {
  .formularioModal {
    font-size: 1.5rem;
  }
}

/*precios de instalaciones*/
.divPrecios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 2rem;
}

@media (max-width: 480px) {
  .divPrecios {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.precioZonas {
  border-bottom: solid 0.3rem #2b2d42;
  margin: 3rem;
  padding-bottom: 3rem;
}

.precioZonas h4 {
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
}

.precioZonas p {
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
}

.btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-center button {
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #edf2f4;
  color: #d90429;
  -webkit-box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.3);
}

/*marcas de camaras*/
.row__textoMarcas {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  text-align: center;
  margin: 2rem 2rem 3rem 2rem;
}

.row__textoMarcas h4 {
  color: #d90429;
  font-size: 3.5rem;
  text-shadow: 0.1rem 0.1rem #8d99ae;
}

.rowMarcas {
  padding-bottom: 4rem;
  border-bottom: solid 0.3rem #2b2d42;
  margin: 0 2rem 0 2rem;
}

.rowMarcas .colMarcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.rowMarcas .colMarcas__img {
  width: 30%;
  padding: 1rem;
}

@media (max-width: 480px) {
  .rowMarcas .colMarcas__img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .rowMarcas .colMarcas__img {
    width: 100%;
  }
}

/*tecnología*/
.rowTecnologia__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 4rem;
  text-align: center;
}

.rowTecnologia__texto h4 {
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  font-weight: bold;
}

.rowTecnologia__texto p {
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
}

.rowTecnologia__opiniones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-bottom: 3rem;
}

.rowTecnologia__opiniones p {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  font-weight: bold;
}

.rowTecnologia__opiniones--texto {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rowTecnologia__opiniones--texto p {
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
}

/*animacion precios*/
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.tituloCarrito {
  font-size: 3.5rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  padding: 2rem;
}

@media (max-width: 480px) {
  .tituloCarrito {
    text-align: center;
  }
}

.table {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  padding-right: 2rem;
}

@media (max-width: 480px) {
  .table {
    text-align: center;
  }
}

.table td {
  margin: 1rem;
}

.table .titleTable p {
  font-size: 2.5rem;
  font-weight: bold;
  color: #d90429;
  text-shadow: 1px 1px #8d99ae;
}

@media (max-width: 480px) {
  .table .titleTable p {
    font-size: 1.5rem;
  }
}

.table button {
  margin: 0.5rem;
}

.table p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table .divBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.precio {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  color: #2b2d42;
  margin: 1rem;
}

@media (max-width: 480px) {
  .precio {
    text-align: center;
  }
}

.precioTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botonComprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

@media (max-width: 480px) {
  .precioEnTabla {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */