* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
html {
	font-size: 62.5%;
}
a {
	text-decoration: none;
}
.container-fluid {
	padding: 0px;
	margin: 0px;
	padding-right: 0px;
}
.row {
	--bs-gutter-x: 0rem;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0rem;
}

/*header*/
header {
	background-color: #d90429;
	color: #edf2f4;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.4rem;
	font-size: 1.5rem;
	width: 100%;
	border-bottom: solid 1rem #2b2d42;
}
.contenedorLogo {
	overflow: hidden;
}
.logo {
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	margin: 1rem 0rem 0rem 3rem;
}
nav {
	width: 100%;
	display: flex;
	box-sizing: border-box;
	flex-flow: column wrap;
}
ul li {
	position: relative;
	padding: 1rem 3rem;
}
.menu {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-wrap: wrap;
}
.menu li a {
	color: #edf2f4;
}
.submenu {
	position: absolute;
	background-color: #2b2d42;
	margin: 1rem 3rem;
	width: 100%;
	display: none;
	font-family: 'Oswald', sans-serif;
}

/*estetica menu*/
.activador:hover .submenu {
	display: block;
}
.activador {
	margin: 0;
}

/*estetica inicio*/
.inicioLi {
	transition: letter-spacing 1s;
}
.inicioLi:hover {
	letter-spacing: 0.5rem;
}
.inicioLi a:hover {
	color: #2b2d42;
}

/*estetica nosotros*/
.nosotrosLi {
	transition: letter-spacing 1s;
}
.nosotrosLi:hover {
	letter-spacing: 0.5rem;
}
.nosotrosLi a:hover {
	color: #2b2d42;
}

/*estetica servicio tecnico*/
.servicioTecnicoLi {
	transition: letter-spacing 1s;
}
.servicioTecnicoLi:hover {
	letter-spacing: 0.5rem;
}
.servicioTecnicoLi a:hover {
	color: #2b2d42;
}
/*estetica instalaciones*/
.instalacionesLi {
	transition: letter-spacing 1s;
}
.instalacionesLi:hover {
	letter-spacing: 0.5rem;
}
.instalacionesLi p:hover {
	color: #2b2d42;
}

/*estetica alarmas*/
.alarmasLi {
	letter-spacing: 0.4rem;
	transition: letter-spacing 1s;
}
.alarmasLi:hover {
	letter-spacing: 0.5rem;
}
.alarmasLi a:hover {
	color: #d90429;
}

/*estetica camaras*/
.camarasLi {
	letter-spacing: 0.4rem;
	transition: letter-spacing 1s;
}
.camarasLi:hover {
	letter-spacing: 0.5rem;
}
.camarasLi a:hover {
	color: #d90429;
}

/*main*/
/*foto+formulario*/
.fotoFormulario {
	height: 35rem;
}
.contenedorFormulario {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	background-image: url(../Imagenes/camara1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: solid 1rem #2b2d42;
}

/*Formulario*/
.formulario {
	background-color: #ef233c;
	color: #2b2d42;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.3rem;
	width: 40rem;
	height: auto;
	border: 3px solid black;
	padding: 1rem;
	margin: 1rem;
	line-height: 3rem;
	margin-bottom: 1rem;
}
.posicionFormulario {
	display: flex;
	flex-direction: column;
}
.botonForm {
	text-align: center;
}

/*Links a servicios*/
.divServicios {
	overflow: hidden;
}
.serviciosImg {
	width: 12rem;
	height: auto;
}
.serviciosTexto {
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*Footer*/
.footer {
	background-color: #d90429;
	color: #edf2f4;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.4rem;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 3rem;
	padding: 1.5rem;
	border-top: solid 1rem #2b2d42;
	margin-top: 2rem;
}
.divDatosDeContacto {
	width: 100%;
	display: flex;
	box-sizing: border-box;
	flex-flow: row wrap;
	overflow: hidden;
	flex-wrap: wrap;
}
.datosDeContacto {
	padding-bottom: 2rem;
}
.linksRedes {
	color: #2b2d42;
}
.whatsapp {
	display: flex;
	justify-content: end;
	font-size: 3rem;
}

/*Otros HTML*/
.bodyPaginas {
	background-color: #edf2f4;
}
.titulosPaginas {
	color: #2b2d42;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.4rem;
	display: flex;
	justify-content: center;
	margin: 2rem;
}
.h1Html {
	transform: rotate(-5deg);
	font-size: 3rem;
}
.fotosRandom {
	width: 30rem;
	height: auto;
}
.parrafosBody {
	color: #2b2d42;
	background-color: #edf2f4;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 3rem;
	margin-top: 4rem;
}

/*html nosotros*/
.nosotrosDescripcion {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-around;
	align-items: center;
}
.imgNosotros {
	width: 60rem;
	height: auto;
	border-radius: 5%;
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
}
.contenedorTextoNosotros {
	font-family: 'Montserrat', sans-serif;
	color: #2b2d42;
	width: 45rem;
	height: 45rem;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.textoNosotros {
	font-size: 2.4rem;
	margin-left: 5rem;
	text-align: left;
}
.trabajaConNosotros {
	font-family: 'Montserrat', sans-serif;
	color: #2b2d42;
	font-size: 1.8rem;
	margin: 3rem;
	border: solid 3px #2b2d42;
	border-style: double;
	padding: 2rem;
	background: rgb(237, 242, 244);
	background: -moz-linear-gradient(176deg, rgba(237, 242, 244, 1) 36%, rgba(239, 35, 60, 0.3760533707865169) 100%);
	background: -webkit-linear-gradient(176deg, rgba(237, 242, 244, 1) 36%, rgba(239, 35, 60, 0.3760533707865169) 100%);
	background: linear-gradient(176deg, rgba(237, 242, 244, 1) 36%, rgba(239, 35, 60, 0.3760533707865169) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edf2f4", endColorstr="#ef233c", GradientType=1);
}
.trabajaConNosotrosH2 {
	color: #d90429;
	font-weight: bolder;
	margin-bottom: 1rem;
}

/*html alarmas*/
.serviciosImgAlarmas {
	border: double 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 10px 3px rgba(16.86, 17.65, 25.88, 0.3);
	width: 16rem;
	height: auto;
}
.divAlarmas {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 5rem;
}

/*html camaras*/
.divVideoCamaras {
	display: flex;
	justify-content: center;
	margin: 3rem;
}
