/*introducción*/
.textoAlarmas {
	background-image: url(../Imagenes/fondo-alarmas.jpg);
	background-position: center;
	background-size: cover;
	padding: 10rem;
	margin-bottom: 3rem;
	&__titulos {
		@extend .titulos__paginas;
		color: $blanco;
	}
	h1 {
		text-shadow: black 3px 2px;
	}
	p {
		font-size: $tamFuente+1;
		text-shadow: black 2px 2px;
		font-family: $fuenteM;
		color: $blanco;
		text-align: center;
		margin: 3rem;
		@include telefono {
			font-size: $tamFuente+0.3;
			text-align: center;
			margin: 2rem 0 0 0;
		}
	}
	@include telefono {
		padding: 7rem;
	}
}

/*imágenes y precios*/

.rowAlarmas {
	@extend .rowCamaras;
	&__precioTexto {
		@extend .rowCamaras__precioTexto;
	}
	&__precio {
		@extend .rowCamaras__precio;
	}
	&__col {
		@extend .rowCamaras__col;
	}
}
.alarmaEstilo {
	@extend .camaraEstilo;
}
.alarmaEstilo--info {
	@extend .camaraEstilo--info;
}
.alarmaEstilo--info:hover {
	opacity: 0.9;
}

/*cierre*/
.parrafoCierreAlarmas {
	font-size: $tamFuente+0.5;
	font-family: $fuenteM;
	color: $rojo;
	text-align: center;
	margin-top: 2rem;
	text-shadow: 0.1rem 0.1rem $gris;
	padding: 1rem;
	margin: 2rem;
}
