.textoAlarmas {
	background-image: url(../../Imagenes/fondo-alarmas.jpg);
	background-position: center;
	background-size: cover;
	padding: 10rem;
	margin-bottom: 3rem;
	&__titulos {
		@extend .titulos__paginas;
		color: $blanco;
	}
	p {
		font-size: $tamFuente+1;
		text-shadow: black 2px 2px;
		font-family: $fuenteM;
		color: $blanco;
		text-align: center;
		margin: 3rem;
		@include telefono {
			font-size: $tamFuente+0.3;
			text-align: center;
			margin: 2rem 0 0 0;
		}
	}
	@include telefono {
		padding: 7rem;
	}
}

.rowAlarmas {
	@extend .rowCamaras;
	&__col {
		@extend .rowCamaras__col;
	}
	&__img {
		@extend .rowCamaras__img;
	}
	&__precioTexto {
		@extend .rowCamaras__precioTexto;
	}
	&__precio {
		@extend .rowCamaras__precio;
	}
}
.parrafoCierreAlarmas {
	font-size: $tamFuente+0.5;
	font-family: $fuenteM;
	color: $rojo;
	text-align: center;
	margin-top: 2rem;
	text-shadow: 0.1rem 0.1rem $gris;
	padding: 1rem;
	margin: 2rem;
}
