/*introducción*/
.textoCamaras {
	background-image: url(../Imagenes/fondo-camaras.jpg);
	background-position: center;
	background-size: cover;
	padding: 8rem;
	margin-bottom: 3rem;
	&__titulo {
		@extend .titulos__paginas;
		color: $blanco;
	}
	h1 {
		text-shadow: black 3px 2px;
	}
	p {
		font-size: $tamFuente+1;
		text-shadow: black 2px 2px;
		font-family: $fuenteM;
		color: $blanco;
		text-align: center;
		margin: 3rem;
		@include telefono {
			font-size: $tamFuente+0.3;
			text-align: center;
			margin: 2rem 0 0 0;
		}
	}
	@include telefono {
		padding: 4.5rem;
	}
}

/*imagenes y precios*/
.rowCamaras {
	margin: 2rem;
	&__precioTexto {
		font-size: $tamFuente;
		font-family: $fuenteM;
		color: $azul;
		text-transform: uppercase;
		text-align: center;
	}
	&__precio {
		font-size: $tamFuente+1;
		font-family: $fuenteM;
		color: $rojo;
		font-weight: bolder;
		text-shadow: 0.1rem 0.1rem $gris;
		-webkit-animation: heartbeat 5s ease-in-out 3s infinite both;
		animation: heartbeat 5s ease-in-out 3s infinite both;
	}
	&__col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		@include telefono {
			margin-top: 3.5rem;
			margin-bottom: 3.5rem;
		}
	}
}
.camaraEstilo {
	position: relative;
	overflow: hidden;
	margin: 2rem;
	border-radius: 16%;
	width: 80%;
	box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.3);
	@include telefono {
		width: 100%;
	}
	img {
		width: 100%;
	}
}
.camaraEstilo--info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 16%;
	padding: 2rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: $blanco;
	background-color: $azul;
	font-family: $fuenteO;
	font-size: $tamFuente+0.5rem;
	transition: 0.8s;
	p {
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		margin: 2rem;
	}
	ul {
		text-align: center;
		list-style: none;
		padding: 0;
	}
	opacity: 0;
}
.camaraEstilo--info:hover {
	opacity: 0.9;
}

/*cierre*/
.row__textoCierre {
	border-bottom: solid 0.3rem $azul;
	font-size: $tamFuente+1;
	font-family: $fuenteM;
	color: $azul;
	text-align: center;
	margin: 4rem;
}

/*modal*/
.formularioModal {
	@include telefono {
		font-size: $tamFuente;
	}
}

/*marcas de camaras*/
.row__textoMarcas {
	font-size: $tamFuente+0.5;
	font-family: $fuenteM;
	color: $azul;
	text-align: center;
	margin: 2rem 2rem 3rem 2rem;
	h4 {
		color: $rojo;
		font-size: $tamFuente+2;
		text-shadow: 0.1rem 0.1rem $gris;
	}
}
.rowMarcas {
	padding-bottom: 4rem;
	border-bottom: solid 0.3rem $azul;
	margin: 0 2rem 0 2rem;
	.colMarcas {
		display: flex;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
		&__img {
			width: 30%;
			padding: 1rem;
			@include telefono {
				width: 100%;
			}
			@include tablet {
				width: 100%;
			}
		}
	}
}
/*tecnología*/
.rowTecnologia {
	&__texto {
		display: flex;
		flex-flow: column;
		padding: 4rem;
		text-align: center;
		h4 {
			font-size: $tamFuente+1;
			font-family: $fuenteM;
			color: $azul;
			font-weight: bold;
		}
		p {
			font-size: $tamFuente+1;
			font-family: $fuenteM;
			color: $azul;
		}
	}
	&__video {
		display: flex;
		justify-content: center;
		align-items: center;
		.rowTecnologia__video--vid {
			box-sizing: content-box;
			width: 80%;
			margin: 3rem;
			border-radius: 5%;
			box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.3);
			@include telefono {
				width: 100%;
			}
		}
	}
}

/*animacion precios*/
@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
