// TITULO
.tituloCarrito {
	font-size: $tamFuente+2rem;
	font-family: $fuenteM;
	color: $azul;
	padding: 2rem;
	@include telefono {
		text-align: center;
	}
}

// TABLA CON PRODUCTOS
.table {
	font-size: $tamFuente;
	font-family: $fuenteM;
	color: $azul;
	padding-right: 2rem;
	@include telefono {
		text-align: center;
	}
	td {
		margin: 1rem;
	}
	.titleTable {
		p {
			font-size: $tamFuente+1;
			font-weight: bold;
			color: $rojo;
			text-shadow: 1px 1px $gris;
			@include telefono {
				font-size: $tamFuente;
			}
		}
	}
	button {
		margin: 0.5rem;
	}
	p {
		display: flex;
		justify-content: center;
	}
	.divBotones {
		display: flex;
		justify-content: center;
	}
}

// PRECIO
.precio {
	font-size: $tamFuente+0.5;
	font-family: $fuenteM;
	color: $azul;
	margin: 1rem;
	@include telefono {
		text-align: center;
	}
}

// BOTON COMPRAR
.botonComprar {
	display: flex;
	justify-content: center;
	margin: 2rem;
}

// BORRAR CANTIDAD EN CELULAR
.precioEnTabla {
	@include telefono {
		display: none;
	}
}
