.chauPadding {
	padding: 0px;
}

.footer {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	background-color: $rojo;
	color: $blanco;
	font-family: $fuenteO;
	border-top: solid 1rem $azul;
	letter-spacing: 0.2rem;
	font-size: ($tamFuente)-0.4;
	&__redes {
		padding: 2rem;
		a {
			color: $azul;
			margin: 0 2rem;
			font-size: $tamFuente+1.2;
		}
		.whatsapp:hover {
			color: #25d366;
		}
		.fa-facebook:hover {
			color: #3b5998;
		}
		.fa-instagram:hover {
			color: #8134af;
		}
		h3 {
			text-align: center;
			text-decoration: underline;
		}
		@include telefono {
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
	&__redes--whatsapp {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			font-size: $tamFuente+2;
		}
	}
	@include telefono {
		display: flex;
		flex-direction: column;
	}
}

.contenedor__logoFooter {
	@extend .contenedor__logo;
	display: flex;
	justify-content: center;
	align-items: center;
	.logo {
		border-radius: 50%;
		width: 7rem;
		height: 7rem;
	}
}

.derechos {
	background-color: $rojo;
	color: $blanco;
	font-family: $fuenteO;
	font-size: ($tamFuente)-0.8;
	display: flex;
	justify-content: center;
}
