.formulario__contacto {
	font-family: $fuenteM;
	color: $azul;
	font-size: $tamFuente+0.3;
	@include telefono {
		font-size: ($tamFuente);
		text-align: center;
	}
}
form {
	display: flex;
	justify-content: center;
	.formulario {
		width: 70%;
	}
	@include telefono {
		font-size: $tamFuente+1;
		.formulario {
			width: 100%;
		}
	}
}
.boton {
	font-size: $tamFuente;
}
.boton:hover {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
