nav {
	border-bottom: solid 1rem $azul;
}
.chauPadding {
	padding: 0px;
}
header {
	width: 100%;
}

/*logo*/
.contenedor__logo {
	overflow: hidden;
	margin-left: 2rem;
	margin-right: 3rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	.logo {
		border-radius: 50%;
		width: 10rem;
		height: 10rem;
	}
}
/*nav*/
.nav__menu {
	font-family: $fuenteO;
	letter-spacing: 0.4rem;
	font-size: $tamFuente+0.5;
	width: 100%;

	li {
		@include telefono {
			font-size: $tamFuente;
		}
	}
}
.navbar-nav {
	justify-content: right;
	margin-right: 3rem;
}

/*estetica inicio*/
li a {
	position: relative;
}
a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: $blanco;
	transform: scaleX(0);
	transition: transform 0.3s ease;
	@include telefono {
		width: 0%;
	}
}
a:hover::before {
	transform: scaleX(1);
}

.contenedor__logo {
	a::before {
		width: 0%;
	}
}

/*estetica alarmas*/
.nav__menu--alarmas {
	a {
		color: $blanco;
	}
}
.nav__menu--alarmas a:hover {
	color: $rojo;
}

/*estetica camaras*/
.nav__menu--camaras {
	a {
		color: $blanco;
	}
}
.nav__menu--camaras a:hover {
	color: $rojo;
}
