/*texto principal*/
.main__texto__st {
	font-size: $tamFuente+0.8rem;
	font-family: $fuenteM;
	color: $azul;
	padding: 3rem;
}

h1 {
	@include telefono {
		text-align: center;
	}
}

/*grilla*/
.grid {
	display: grid;
	grid-template-areas: "grid__img7 grid__img1 grid__img4" "grid__img7 grid__img3 grid__img2"
		"grid__img6 grid__img5 grid__img5";
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 4rem;
	@include telefono {
		grid-template-areas: "grid__img1" "grid__img2" "grid__img3" "grid__img4" "grid__img5" "grid__img6" "grid__img7";
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}
.grillita {
	display: flex;
	justify-content: center;
}
.grid__img1 {
	grid-area: grid__img1;
	transition: scale;
}
.grid__img1:hover {
	transform: scale(1.1, 1.1);
}
.grid__img2 {
	grid-area: grid__img2;
	transition: scale;
}
.grid__img2:hover {
	transform: scale(1.1, 1.1);
}
.grid__img3 {
	grid-area: grid__img3;
	transition: scale;
}
.grid__img3:hover {
	transform: scale(1.1, 1.1);
}
.grid__img4 {
	grid-area: grid__img4;
	transition: scale;
}
.grid__img4:hover {
	transform: scale(1.1, 1.1);
}
.grid__img5 {
	grid-area: grid__img5;
	transition: scale;
}
.grid__img5:hover {
	transform: scale(1.1, 1.1);
}
.grid__img6 {
	grid-area: grid__img6;
	transition: scale;
}
.grid__img6:hover {
	transform: scale(1.1, 1.1);
}
.grid__img7 {
	grid-area: grid__img7;
	transition: scale;
}
.grid__img7:hover {
	transform: scale(1.1, 1.1);
}
/*estilo imagenes*/
.grid__imagenEstilos {
	width: 100%;
	padding: 0.3rem;
	border-radius: 5%;
}
